* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: rgb(206, 206, 163)
}


.heading {
    height: 10vh;
    width: 100vw;
    line-height: 10vh;

    background-color: #081b31;
    color: white;

   

}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;

    display:flex;
    justify-content: center;
    align-items: center;
 

}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    

}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.choice:hover{
     /* opacity: 0.5;  */
    cursor: pointer;
    background-color: black;
}

.score-board {

    margin-top: 3rem;
    gap: 5rem;
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#user-score, #comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 3rem;
}
#msg {
    
    padding: 1rem;
    font-size: 2rem;
    border-radius: 1rem;

    background-color: black;
    color: white;

    display: inline;
}